form.contact {
  width: clamp(300px,100vw - 32px, 500px);
  text-align: left;
  margin: auto;
}

.contact legend h3 {
  margin-bottom: 8px;
  text-align: center;
}

.icons svg {
  height: 60px;
  width: 60px;
  margin: 16px;
  margin-bottom: 32px;
}

.icons svg:hover, .icons a:focus-within svg {
  fill: var(--color);
  stroke: var(--background);
  transform: scale(1.1);
  transition: all 250ms ease-in-out;
}

.contact input,
.contact textarea {
  border-style: none;
  border-bottom: solid 1px grey;
  color: var(--color);
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
}

.contact textarea {
  height: 160px;
}

.contact button {
  padding: 0 18px;
  border-radius: 18px;
  display: block;
  margin: 0 auto;
}
