.main {
  text-align: center;
  background-color: #fcdb86;
  width: 100vw;
  max-width: 100%;
  color: #391a96;
  font-family: "Work Sans", sans-serif;
  padding: 16px;
}

.main p {
  margin: auto;
  margin-top: 16px;
  max-width: 600px;
}

.header a:hover {
  text-decoration: none;
}

.header h1 {
  font-size: max(2.2rem, 6vw);
  line-height: 6vw;
  padding-top: max(48px, 6vh);
  margin-bottom: calc(max(48px, 10vw) * -1);
  margin-left: 10vw;
  text-align: left;
  font-weight: 400;
  width: fit-content;

  background: linear-gradient(
    to right,
    rgba(57, 26, 150, 1) 0%,
    rgba(134, 48, 196, 1) 50%,
    rgba(255, 0, 228, 1) 100%
  );
  background-size: 400% auto;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: flow 3s ease-in-out infinite alternate-reverse;
}

@keyframes flow {
  to {
    background-position: 75%;
  }
}

.header img {
  width: clamp(400px, 90vw, 2819px);
  margin: 0 auto;
}

.main section {
  min-height: max(600px, 90vh);
  display: flex;
  flex-direction: column;
}

.prettywiki {
  margin-top: max(300px, 50vh);
}


.searchContainer {
  font-family: Arial, sans-serif;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  .main {
    padding: 0 32px 0;
  }

  .header {
    min-height: 800px;
  }
}
